<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  <!-- dtd문법 -->
 
 <mapper namespace="com.quiz.lesson06.dao.BookingMapper">
 	<select id="selectBookingList" resultType="com.quiz.lesson06.model.Booking">
 		SELECT
 			`id`
 			,`name`
 			,`headcount`
 			,`day`
 			,`date`
 			,`phoneNumber`
 			,`state`
 			,`createdAt`
 			,`updatedAt`
		FROM
			`booking`
 	
 	</select>
 
 
 	<delete id="deleteBookingById" parameterType="int">
 		DELETE
 		FROM
 			`booking`
		WHERE
			`id` = #{id}
 	
 	</delete>
 	
 	
 	
 	<insert id="insertBooking" parameterType="map">
 		INSERT INTO `booking`
 		(
 			`name`
 			,`headcount`
 			,`day`
 			,`date`
 			,`phoneNumber`
 			,`state`
 			,`createdAt`
 			,`updatedAt`
 		
 		)
 		VALUES
 		(
 			#{name}
 			,#{headcount}
 			,#{day}
 			,#{date}
 			,#{phoneNumber}
 			,#{state}      <!--**** 고정된 글자는 ('대기중')이라고 xml에만  적어놓으면 됨. input안해도 됨. 작은따음표로 써야됨!!  -->
 			, NOW()
 			, NOW()
 		)
 		
 	
 	</insert>
 	
 	
 	
 	
 	
 	<select id="selectBookingListByField" parameterType="map" resultType="com.quiz.lesson06.model.Booking">
		SELECT
 			`id`
 			,`name`
 			,`headcount`
 			,`day`
 			,`date`
 			,`phoneNumber`
 			,`state`
 			,`createdAt`
 			,`updatedAt`
		FROM
			`booking`
		WHERE
			`name` = #{name} AND
			`phoneNumber` = #{phoneNumber}
 	</select>
 
 </mapper>