<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  <!-- dtd문법 -->
 
 <mapper namespace="com.quiz.lesson03.dao.EstateMapper"> <!-- mapper패키지명 써야됨.공백 없이 주의  / 컨트롤 눌러서 확인 필수.-->
 
 		<!-- mapper 인터페이스의 메소드 이름이 아이디 됨.  하나의 행은  model패키지명 써야됨.-->
 		<!-- select는 실무에서도 하나하나 써야됨 -->
	<select id="selectEstateById" parameterType="int" resultType="com.quiz.lesson03.model.Estate"> 
		SELECT
			`id`
			,`realtorId`
			,`address`
			,`area`
			,`type`
			,`price`
			,`rentPrice`
			,`createdAt`
			,`updatedAt`	
		FROM 
			`real_estate`
		WHERE
			`id` = #{id}
	</select>
	<!-- Mapper에 @param() 가로안에 부분을 where에 쓰기. -->
 
 
 
 	<!--id는 겹치면 안됨. Mapper의 메소드 명과 id일치!!   -->
 	<select id="selectEstateListByRentPrice" parameterType="int" resultType="com.quiz.lesson03.model.Estate"> 
		SELECT
			`id`
			,`realtorId`
			,`address`
			,`area`
			,`type`
			,`price`
			,`rentPrice`
			,`createdAt`
			,`updatedAt`	
		FROM 
			`real_estate`
		WHERE
			<![CDATA[
			`rentPrice` < #{rentPrice}
			]]>
			
	</select>
	   <!-- #{rentPrice}  이것은, 파라미터임. `rentPrice` 이것은 실제 데이터명-->
	  <!-- &lt;   < , &gt;  >  이것도 사용 가능하나, 가독성떨어짐,  CDATA가 가독성이 더 좋음. mybatis부등호 검색하면 많이 나옴. -->
	
	
	<!--콘솔 창에 실행 후 preparing 복사해서 workbench에 붙여넣어서 확인!   -->
	<!-- @Param 어노테이션 썼기 때문에 parameterType="map"으로 해야함. -->
	<select id="selectEstateListByAreaAndPrice" parameterType="map" resultType="com.quiz.lesson03.model.Estate"> 
		SELECT
			`id`
			,`realtorId`
			,`address`
			,`area`
			,`type`
			,`price`
			,`rentPrice`
			,`createdAt`
			,`updatedAt`	
		FROM 
			`real_estate`
		WHERE
			<![CDATA[
			`area` >= #{area} 
			AND `price`<= #{price} 
			AND `type` = '매매'
			 order by id desc;
			]]>
	</select>
	<!-- Mapper에 @param() 가로안에 부분을 where에 쓰기. -->
	<!-- resutType은 select문에만 있다!!!!!   -->
	
	
	
	<!--***즉, insert할 때는 모든 컬럼 써야됨!!!!! ** 문제에서는 rentPrice 없지만 insert할 때는 써줘야됨.. null로 채워짐. -->
	<insert id="insertEstate" parameterType="com.quiz.lesson03.model.Estate">
		INSERT INTO `real_estate`
		(
			`realtorId`
			,`address`
			,`area`
			,`type`
			,`price`
			,`rentPrice`
			,`createdAt`
			,`updatedAt`
		)
		VALUES
		(
			#{realtorId}
			,#{address}
			,#{area}
			,#{type}
			,#{price}
			,#{rentPrice}
			,NOW()
			,NOW()
		)
		

	</insert>
	
	
	
	<insert id="insertEstateAsField" parameterType="map">
		INSERT INTO `real_estate`
		(
			`realtorId`
			,`address`
			,`area`
			,`type`
			,`price`
			,`rentPrice`
			,`createdAt`
			,`updatedAt`
		)
		VALUES
		(
			#{realtorId}
			,#{address}
			,#{area}
			,#{type}
			,#{price}
			,#{rentPrice}
			,NOW()
			,NOW()
		)
	
	
	</insert>
 </mapper>