<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  <!-- dtd문법 -->
 
 
 <mapper namespace="com.quiz.lesson04.dao.RealtorMapper">
 	<insert id="insertRealtor" parameterType="com.quiz.lesson04.model.Realtor"
     useGeneratedKeys="true" keyProperty="id"> <!--useGeneratedKeys : key를 돌려받는걸 사용하겠다.원래는 false임. keyProperty : 키 이름은 id이다. (변수 이름 - id)-->
 	
 	INSERT INTO `realtor`
 	(
 		`office`
 		,`phoneNumber`
 		,`address`
 		,`grade`
 		,`createdAt`
 		,`updatedAt`
 	
 	)
 	VALUES
 	(
 		#{office}
 		,#{phoneNumber}
 		,#{address}
 		,#{grade}
 		,NOW()
 		,NOW()

 	)
 	
 	
 	
 	</insert>
 
 </mapper>