<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.quiz.lesson02.dao.ReviewMapper">
	

	<select id="selectReviewList" parameterType="int"  resultType="com.quiz.lesson02.model.new_review">
		select A.*, B.*
		from `new_review` AS A
		inner join `store` AS B
		on A.storeId = B.id
		WHERE
			A.storeId = #{storeId}
		ORDER BY A.`id` DESC
	
	
	</select>
 
 </mapper>
