<?xml version="1.0" encoding="UTF-8"?>

<!-- // 쿼리 들어갈 mapper  -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
  <mapper namespace="com.quiz.lesson02.dao.StoreMapper">  <!-- **Mapper 연결 // 연결해주는 곳 --><!--띄어쓰기 조심. 쉼표 조심. -->

  <!-- id의 메소드명은 무조건 복붙!! --> 	<!-- **Mapper에 있는 매소드명과 id 일치.  **resultType은 model명 -->
  <select id="selectStoreList" resultType="com.quiz.lesson02.model.Store">  <!--하나의 행이 어디에 담기는지 써야함.  --><!-- 연결해주는 곳 -->
 		SELECT
 			`id`
 			,`name`
 			,`phoneNumber`
 			,`address`
 			,`businessNumber`
 			,`introduce`
 			,`createdAt`
 			,`updatedAt`
		FROM
			`store`
 	</select>


  	 
  </mapper>
  
  
  
 