@charset "UTF-8";

/* html,body { height:100%;} */
#wrap{height: 1200px; width: 700px;}
header{height:100px;width: 700px;}
.headerText{font-size: 50px; font-weight: bold;}
section{width: 700px; height: auto; min-height:400px; overflow: auto;}
.sectionBox{height: 135px; width:700px; border:2px solid #04B4AE; padding:10px; border-radius: 0.5rem;}
.sectionBox:hover {background-color:#CEF6F5;}
a:hover { text-decoration:none; }
.menuBox {height: 30px; width: 100px; background-color:#E6E6E6; }

footer{height:100px;width: 700px;}