@charset "UTF-8";

/* html,body { height:100%;} */
#wrap{height: 1200px; width: 700px;}
header{height:100px;width: 700px;}
.headerText{font-size: 50px; font-weight: bold;}
section{width: 700px; height: auto; min-height: 1000px; overflow: auto;}
.sectionBox{height: 150px; width:700px; border:2px solid #04B4AE; padding:10px; border-radius: 0.5rem;}
footer{height:100px;width: 700px;}